In [1]:
import zoo
zoo.hours()

Open 9-5 daily

In [2]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [3]:
import csv

rows = [
    ['author', 'book'],
    ['J R R Tolkien', 'The Hobbit'],
    ['Lynne Truss', 'Eats, Shoots & Leaves']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file, quoting=csv.QUOTE_MINIMAL)
    writer.writerows(rows)

In [6]:
import sqlite3

conn = sqlite3.connect('books.db')
cur = conn.cursor()

cur.execute("""
CREATE TABLE books (
    title TEXT,
    author TEXT,
    year INTEGER
)
""")

conn.commit()
conn.close()

In [11]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT title FROM books ORDER BY title"))
    for row in result:
        print(row.title)

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!